<div class="quizz-intro hero-unit" ng-show="!started">
    <h1>{{ quizz.title }}</h1>
    <p btf-markdown="quizz.description"></p>
    <button class="btn btn-primary btn-large quizz-start-button" ng-click="start()">Start</button>
</div>

<div class="quizz-question" ng-show="started && !finished">
    <div class="row">
        <div class="span2" style="text-align: center;">
            <h1>{{ questionIndex() + 1 }} / {{ quizz.questions.length }}</h1>
            <div class="quizz-question-sign-{{ questionOddity() }}"><i class="icon-question-sign"></i></div>
        </div>
        <div class="span10">
            <div class="well" btf-markdown="currentQuestion.text"></div>
            <form class="well">
                <div ng-show="currentQuestion.type == 'radio'">
                    <label class="radio" ng-repeat="answer in currentQuestion.answers">
                        <input type="radio" ng-model="currentQuestion.selectedAnswer" ng-value="answer" />
                        {{ answer.text }}
                    </label>
                </div>
                <div ng-show="currentQuestion.type == 'checkbox'">
                    <label class="checkbox" ng-repeat="answer in currentQuestion.answers">
                        <input type="checkbox" ng-model="answer.checked"/>
                        {{ answer.text }}
                    </label>
                </div>
                <div ng-show="currentQuestion.type == 'free'">
                    <input type="text" ng-model="currentQuestion.typedAnswer" placeholder="Your answer" class="input-xxlarge"/>
                </div>
            </form>

            <div class="progress progress-striped">
                <div class="bar" style="width: {{ questionIndex() * 100 / quizz.questions.length }}%;"></div>
            </div>

            <ul class="pager">
                <li class="previous" ng-show="showPrevious()" ng-click="previous()">
                    <a class="quizz-previous-button" href="">&larr; Previous</a>
                </li>
                <li class="next" ng-show="showNext()" ng-click="next()">
                    <a class="quizz-next-button" href="">Next &rarr;</a>
                </li>
                <li class="next" ng-show="!hasNext()" ng-click="finish()">
                    <a class="quizz-finish-button" href="">Finish &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="quizz-result" ng-show="finished">
    <h1>Your score: {{ (getScore() * 100 / quizz.questions.length) | number:0}} % ({{ getScore() }} / {{ quizz.questions.length }})</h1>

    <ul class="nav nav-pills">
        <li ng-class="{active: resultFilter == allResultFilter}">
            <a href="" ng-click="resultFilter = allResultFilter">All</a>
        </li>
        <li ng-class="{active: resultFilter == errorsOnlyResultFilter}">
            <a href="" ng-click="resultFilter = errorsOnlyResultFilter">Errors only</a>
        </li>
    </ul>

    <hr/>

    <div ng-repeat="question in quizz.questions | filter:resultFilter" class="quizz-result-question">
        <div class="row">
            <div class="span2" style="text-align: center;">
                <i class="icon-ok-sign quizz-correct" ng-show="isAnswerCorrect(question)"></i>
                <i class="icon-remove-sign quizz-incorrect" ng-show="!isAnswerCorrect(question)"></i>
            </div>
            <div class="span10">
                <div class="well" btf-markdown="question.text"></div>
                <table class="table" ng-show="['radio', 'checkbox'].indexOf(question.type) >= 0">
                    <thead>
                    <tr>
                        <th class="quizz-tick">Yours</th>
                        <th class="quizz-tick">Correct</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="answer in question.answers">
                        <td class="quizz-tick">
                            <i class="icon-ok" ng-show="isAnswerSelected(question, answer) && answer.correct"></i>
                            <i class="icon-remove" ng-show="isAnswerSelected(question, answer) && !answer.correct"></i>
                        </td>
                        <td class="quizz-tick">
                            <i class="icon-ok" ng-show="answer.correct"></i>
                        </td>
                        <td>{{ answer.text }}</td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="question.type == 'free'">
                    <div class="row-fluid">
                        <div class="span2">
                            <strong>Yours:</strong>
                        </div>
                        <div class="span10 quizz-free-yours">
                            <i class="icon-ok" ng-show="isAnswerCorrect(question)"> </i>
                            <i class="icon-remove" ng-show="!isAnswerCorrect(question)"> </i>
                            {{ question.typedAnswer }}
                        </div>
                    </div>
                    <div class="row-fluid quizz-free-correct">
                        <div class="span2"><strong>Correct:</strong></div>
                        <div class="span10">
                            <ul class="unstyled">
                                <li ng-repeat="answer in question.answers"><i class="icon-ok"></i> {{ answer }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="quizz-explanation" ng-show="question.explanation">
                    <h2>Explanation</h2>
                    <div btf-markdown="question.explanation"></div>
                </div>
            </div>
        </div>

        <hr/>
    </div>
</div>