.container {
    margin-top: 60px;
}
.quizz-question .icon-question-sign {
    font-size: 60px;
    color: #0064cd;
}
.quizz-correct {
    font-size: 60px;
    color: #46a546;
}
.quizz-incorrect {
    font-size: 60px;
    color: #9d261d;
}
th.quizz-tick, td.quizz-tick {
    text-align: center;
    width: 10%;
}
